@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(1px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-1px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0px;
  padding: 0px; }

body, html {
  font-family: "Playfair Display", serif !important;
  font-size: 16px; }

.header {
  background-image: linear-gradient(to right top, #000000cc, #434343d5), url(../images/header2.jpg);
  background-size: cover;
  background-position: top;
  color: #fff;
  text-align: center;
  padding: 150px 0 150px 0; }
  .header h1 {
    font-size: 36px;
    font-weight: 900;
    font-family: "Abril Fatface", cursive !important;
    padding-top: 10px;
    line-height: 100px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header h2 {
    padding: 10px 0 10px 0; }
    .header h2 img {
      text-align: center;
      margin: 0 auto;
      position: absolute;
      top: 20px;
      left: 30px; }
  .header p {
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
    text-align: justify;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    padding-bottom: 100px; }

.section-one {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #fff; }
  .section-one p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; }
  .section-one h2 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 30px;
    font-family: "Abril Fatface", cursive !important; }

.parts-sectionone ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  .parts-sectionone ul li {
    display: block;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #004221; }
    .parts-sectionone ul li:before {
      content: "•";
      font-size: 30px;
      vertical-align: center; }

.section-features {
  padding: 30px 0 80px 0;
  background-image: linear-gradient(to right top, #000000cc, #434343d5), url(../images/3.jpg);
  background-size: cover;
  background-position: top;
  clear: both; }
  .section-features h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    margin: 50px 0;
    font-family: "Abril Fatface", cursive !important; }

.reasonsfact {
  color: #fff;
  font-weight: 400;
  padding: 10px 0 10px 0;
  display: flex; }
  .reasonsfact button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    flex: 1 1 auto;
    border-radius: 0px !important;
    margin-bottom: 10px;
    padding: 12px 0; }
    .reasonsfact button:link {
      color: #ffffff;
      text-decoration: none; }
    .reasonsfact button:visited {
      color: #fff;
      text-decoration: none; }
    .reasonsfact button:hover {
      color: #fff;
      text-decoration: none; }

.colsmclass1 {
  padding-top: 0px; }
  .colsmclass1 h3 {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    padding-left: 30px;
    font-family: "Abril Fatface", cursive !important; }

.colsmclass2 h3 {
  font-size: 25px;
  font-weight: 900;
  color: #fff; }

.modalclass {
  padding: 12px 30px !important;
  text-decoration: none; }
  .modalclass h4 {
    font-weight: 900;
    font-family: "Abril Fatface", cursive !important; }
  .modalclass ul {
    margin: 0px;
    padding: 0px; }
    .modalclass ul li {
      line-height: 25px;
      font-size: 16px; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 8px !important;
  font-weight: 700;
  color: #fff !important; }

.form-control {
  display: block;
  width: 100%;
  height: 42px !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.section-enquiry {
  padding: 30px 0 80px 0;
  background-image: linear-gradient(to right top, #000000cc, #434343d5), url(../images/header.jpg);
  background-size: cover;
  background-position: top;
  clear: both; }
  .section-enquiry h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    margin: 50px 0;
    font-family: "Abril Fatface", cursive !important; }

.section-enquiry {
  padding: 30px 0 80px 0;
  background-image: linear-gradient(to right top, #000000cc, #434343d5), url(../images/header.jpg);
  background-size: cover;
  background-position: top;
  clear: both; }
  .section-enquiry h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    margin: 50px 0;
    font-family: "Abril Fatface", cursive !important; }
